[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
torch = "*"
numpy = "*"
numba = "*"
pandas = "*"
xarray = "*"
matplotlib = "*"
h5py = "*"
scikit-learn = "*"
scipy = "*"
tqdm = "*"
jupyterlab = "*"
nb-black = "*"
statsmodels = "*"
seaborn = "*"

[requires]
python_version = "3.8"
